*.d
*.o
*.obj
*.exe
/tests/test-incremental
/tests/test-semispace
vgcore*
/site.mk
/web/arete.js
/web/arete.js.mem
/web/arete.html.mem
/web/arete.js
/web/arete.data
/vendor/linenoise/*.d
/bin/arete
/bin/arete32
/heap.boot
/heap32.boot
/src/compile-x64.cpp
